**/*.jpg
**/*.JPG
**/*.png
**/*.PNG
**/*.gif
**/*.GIF
**/*.exe
**/*.EXE
**/*.flv
**/*.FLV
**/*.mov
**/*.MOV
**/*.zip
**/*.ZIP
**/*.mp4
**/*.MP4
**/*.rar
**/*.RAR
**/*.html
**/*.HTML
**/*.htm
**/*.HTM
**/*.gif
**/*.GIF
**/*.jpeg
**/*.JPEG
**/*.EXE
**/*.swp
/tmp/
/ladies/
/download/
/sites
